body{
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.container {
    width: auto;
}

.topbackgrd {
    background-color: #DAB88B;
    top: 0%;
    position: sticky;
}

.topnvg {
    position: sticky;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    max-width: 1000vw;
    font-size: 1.5vw;
}

.logo {
    position: sticky;
    margin-left: 6vw;
    font-weight: 800;
    font-size: 30px;
}

.leftbar {
    display: flex;
    margin-right: 7vw;
}

.topnvg .nvg {
    padding: 0px 15px;
    margin-right: 6vw;
}

.topnvg .nvg a {
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.topnvg .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.contact {
    margin-right: 3vw;

}

.contact a {
    background: rgba(255, 200, 171, 0.31);
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    padding: 0.5vh 2vw;
    color: white;
    text-decoration: none;
}

.contact a:hover {
    background: rgba(255, 255, 255, 0.295743);
    color: black;
}

.menubar {
    display: none;
}

@media screen and (max-width: 850px) {
    .topnvg .nvg {
        margin-right: 0vw;
    }
}

@media screen and (max-width: 700px) {
    .topnvg .nvg {
        display: none;
    }

    .topnvg .contact {
        display: none;
    }

    .menubar {
        display: block;
        border: 2px solid white;
        padding: 5px;
        border-radius: 10%;
    }

    .menubar i {
        font-size: 20px;
    }


    .topnvg {
        max-width: 100%;
        margin: auto;
    }

}


.dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(218, 184, 139, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown_lists {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #5C2000;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.dropdown .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .dropdown a {
        font-size: 20px
    }

    .dropdown .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.about {
    background-color: #DAB88B;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.about h1 {
    margin-top: 0px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 5px;
}

.about p {
    margin: 0px 20vw;
    font-size: 20px;
}

@media screen and (max-width:700px) {

    .about {
        text-align: left;
        padding-bottom: 25px;
    }

    .about h1 {
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .about p {
        margin: 0px 25px;
        font-size: 15px;
    }
}


.secondbg {
    background-color: #FDF6EC;
}

.secondcontent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondcontent .images {
    padding: 40px;
}

.secondcontent .images img {
    width: 40vw;
    border-radius: 10%;
}

.secondcontent .text {
    font-style: normal;
    font-weight: 800;
    font-size: 1.5vw;
    line-height: 30px;
    color: #5C2000;
    max-width: 500px;
}

@media screen and (max-width:700px) {
    .secondcontent .text {
        font-size: 2vw;

        line-height: normal;
    }

    .secondcontent .text p {
        margin: 2px 0px;

    }
}

@media screen and (max-width:500px) {

    .secondcontent {
        display: block;
    }

    .secondcontent .images {
        padding: 40px 0px 10px 0px;
        text-align: center;
    }

    .secondcontent .images img {
        max-width: 80%;
        width: auto;
    }

    .secondcontent .text {
        font-size: 4vw;
        line-height: normal;
        display: flex;
        justify-content: center;
    }

    .secondcontent .text box p {
        margin: auto;
    }

    .secondcontent .text .box {
        max-width: 80%;
        width: auto;
    }


}

hr {
    max-width: 90%;
}

.thirdcontent {
    width: auto;
    padding: 0px 40px;
}


.thirdhd h1 {
    color: rgba(0, 0, 0, 0.62);
}

.firtext {
    font-size: 1.8vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.firtext p {
    color: #5C2000;
    width: auto;
    max-width: 60%;
}

.firpic {
    display: flex;
    justify-content: center;
}

.firpic img {
    width: 70vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 63px;
}

@media screen and (max-width:700px) {
    .firtext {
        font-size: 2vw;
    }

}

@media screen and (max-width:500px) {

    .thirdhd h1 {
        text-align: center;
        color: rgba(0, 0, 0, 0.62);
    }

    .firtext {
        font-size: 15px;
        text-align: center;
    }

    .firtext p {
        max-width: 100%;
    }

    .firpic img {
        width: 70vw;
        height: 40vh;
        border-radius: 30px;
    }
}

.secondtext{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondtext .text{
    width: 50%;
    color: #5C2000;
    font-size: 1.8vw;
}

.secondtext .images{
    padding: 30px;
    width: auto;
}

.secondtext .images img{
    border-radius: 50px;
    width: 25vw;
}

hr.line2{
    display: none;
}

@media screen and (max-width:700px) {
    .secondtext .text{
        font-size: 2.3vw;
    }
    
    .secondtext .images img{
        border-radius: 40px;
        width: 30vw;
    }
    
}

@media screen and (max-width:500px) {
    hr.line2{
        margin-top: 35px;
        display: block;
    }
    .secondtext{
        display: block;
        text-align: center;
    }
    
    .secondtext .text{
        display: flex;
        justify-content: center;
        width: auto;
        font-size: 15px;
    }
    
    .secondtext .text p{
        width: 90%;
        text-align: left;
    }
    .secondtext .images{
        padding: 0px;
        width: auto;
    }
    
    .secondtext .images img{
        border-radius: 30px;
        width: 70vw;
        height: 50vh;
        object-fit: cover;
    }
    
}

.thirdtext{
    color: #5C2000;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.thirdtext .text{
    background-image: url('../images/pexels-karolina-grabowska-4386404\ 1.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;
    max-width: 80%;
}

.thirdtext .text p{
    font-size: 1.8vw;
    padding: 100px;
}

@media screen and (max-width: 700px) {
    .thirdtext .text p{
        font-size: 2.3vw;
        padding: 80px;
    }
}

@media screen and (max-width: 500px) {
    .thirdtext .text p{
        font-size: 15px;
        padding: 50px;
    }
}



.footerbg {
    background-color: #B7CADB;
}

.footnvg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}


.left .nvg {
    padding: 0px 15px;
}

.left .nvg a {
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.left .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.footnvg .ftlogo {
    color: white;
    font-weight: 800;
    margin-left: 2vw;
    font-size: 2vw;
}

@media screen and (max-width: 500px) {

    .footerbg {
        padding: 10px 20px;
    }
    
    
    .footnvg {
        display: block;
        padding: 0px;
    }
    
    
    .left .nvg {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .left .nvg a {
        font-size: 20px;
        line-height: 30px;
        margin: 0px;
    }
    

    
    .footnvg .ftlogo {
        margin: 2vw 0vw;
        font-size: 30px;
    }
}



.footmedia{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.media{
    display: flex;
    align-items: center;
    width: 50%;
}

.media .ftmedia{
    margin-left: 2vw;
    font-size: 30px;
}

.media .ftmedia i{
    color: white;
    font-size: 3vw;
    
}

.copyrgt{
    width: 50%;
    margin-right: 25px;
    text-align: right;
    margin-bottom: -5px;
    color: white;
}

.copyrgt p{
    font-size: 1.5vw;
}

@media screen and (max-width:500px){
    
.footmedia{
    display: block;
}

.media{
    padding-top: 20px;
    width: 60%;
    justify-content: space-between;
}

.media .ftmedia{
    margin-left: 0vw;
    font-size: 30px;
}

.media .ftmedia i{
    font-size: 10vw;
    
}

.copyrgt{
    width: 100%;
    margin-right: 25px;
    text-align: left;
    margin-bottom: -5px;
    color: white;
}

.copyrgt p{
    font-size: 6vw;
}

}

