.logo {
    grid-area: logo;
    position: relative;
    width: 70%;
    min-height: 60px;
}
.phone{
    grid-area: phone;
    position: relative;
    left: 350px;
    width: 300px;
    max-height: 20px;
    top: 25px;
}

.menu {
    grid-area: menu;
    display: flex;
    background-color: rgb(255, 255, 255);
    
}

.menu a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.imageshow {
    grid-area: imageshow;
    height: 200px;
}

.feat1 {
    grid-area: feat1;
    height: 100px;
}

.feat2 {
    grid-area: feat2;
    height: 100px;
}

.feat3 {
    grid-area: feat3;
    height: 100px;
}

.sidebar {
    grid-area: sidebar;
    height: 100px;
}

.textcontent {
    grid-area: textcontent;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    position: relative;
    grid-template-areas:
        'logo logo logo logo phone phone phone phone phone'
        'menu menu menu menu menu menu menu menu menu'
        'imageshow imageshow imageshow imageshow imageshow imageshow imageshow imageshow imageshow'
        'feat1 feat1 feat1 feat2 feat2 feat2 feat3 feat3 feat3'
        'sidebar sidebar sidebar sidebar textcontent textcontent textcontent textcontent textcontent'
        'footer footer footer footer footer footer footer footer footer';
    gap: 10px;
    background-color: #000000a0;
    padding: 10px;
    margin: auto;
    max-width: 1024px;
    
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}