body{
    font-family: 'Caladea', sans-serif;
    margin: 0;
    font-weight: 400;
}

/*Navi + Footer*/
.text-dark{
    color: black;
}

.fs-4-blue{
    margin: 0;
    padding: 0;
    color: #4EE1D0;
}

.w-30{
    width: 33%;
}

.w-special{
    width: 33%;
}

/*Navbar css*/
.icon-helloworld{
    width: auto;
    height: 70px;
}

.icon-helloworld2{
    width: auto;
    height: 100px;
}

.navbar{
    --bs-navbar-nav-link-padding-x: 5rem;
}

.nav-button{
    border-radius: 30px;
}

.navbar-toggler-special{
    background-color: black;
    border: var(--bs-border-width) solid rgb(255 255 255);
}

.hidden-culture{
    display: none;
}

.offcanvas{
    opacity: 80%;
    --bs-offcanvas-width: 991px;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.offcanvas-body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

.offcanvas a{
    color: white;
    text-decoration: none;
}

.footer-bg{
    background-image: url(../images/home/background3.jpg);
}

@media screen and (max-width: 992px){

    .off-can-button{
        display: none;
    }

    .hidden-culture{
        display: flex;
    }

    .navbar-collapse-margin{
        margin-top: 4%;
    }

    .offcanvas{
        --bs-offcanvas-width: 100%;
    }

    .w-30{
        width: 50%;
    }

    .w-special{
        width: 100%;
    }
    
}

@media screen and (max-width: 425px){

    .icon-helloworld{
        width: auto;
        height: 65px;
    }

    .w-30{
        width: 100%;
    }
    
}

.transition-nav{
    transition: 1s;
}

/*Navi + Footer*/


strong{
    font-weight: 700;
}

.korean-firstbg {
    background-image: url('../images/korean/picture1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.korean-firheader {
    font-family: 'Caladea';
    font-style: italic;
    font-weight: 700;
    font-size: calc(3.5rem + .5vw)!important;
    margin-top: 35vh;
}

@media screen and (max-width: 800px) {
    .korean-firheader {
        margin-top: 20vh;
    }
}

@media screen and (max-width: 450px) {
    .korean-firheader {
        margin-top: 15vh;
    }
}

@media screen and (max-width: 320px) {
    .korean-firheader {
        margin-top: 15vh;
    }
}

.korean-bg-color {
    background-color: #FFE8C4;
}

.korean-bg-box1 {
    background-color: #ECD6AC;
    max-width: 40%;
    margin: auto;
}

.korean-box1 img {
    height: fit-content;
    width: 8vw;
    margin-right: 10px;
}

.korean-box2 img{
    width: 20vw;
}

@media screen and (max-width: 1150px) {
    .korean-box2 img{
        width: 25vw;
    }
}


@media screen and (max-width: 1024px) {
    .korean-box1 img {
        width: 4vw;
    }

    .korean-box2 img{
        width: 300px;
    }

    .korean-bg-box1 {
        max-width: 50%;
    }
    
}

@media screen and (max-width: 790px) {

    .korean-box2 img{
        width: 250px;
    }

    .korean-bg-box1 {
        max-width: 70%;
    }
    
}

@media screen and (max-width: 575px) {

    .korean-box1 img {
        width: 7vw;
    }

    .korean-bg-box1 {
        max-width: 100%;
    }
    
    .korean-box2 img{
        width: 60vw;
        margin: -10px 0px;
    }

    .korean-frt-box{
        flex-wrap: wrap;
    }
    
}

.korean-borderhr{
    border-top: 2px solid ;
    border-color: #EDAE4C;
}



.korean-borderhr .korean-text1{
    max-width: 65%;
    margin:auto;
}
.korean-second-box1 .korean-second-box2{
    padding-left: 10%;
}

.korean-second-box1 .korean-second-box2 img{
    width: 30vw;
    height: 15vw;
    object-fit: cover;
}
.korean-second-box1 .korean-second-box3 img{
    width: 35vw;
    height: 50vh;
    object-fit: cover;
}


@media screen and (max-width: 1080px) {
    .korean-second-box1 .korean-second-box3 img{
        height: 60vh;
    }
}

@media screen and (max-width: 700px) {

    .korean-borderhr .korean-text1{
        max-width: 80%;
        margin:auto;
    }

    .korean-second-box1 .korean-second-box2 img{
        width: 30vw;
        height: 15vw;
    }

    .korean-second-box1 .korean-second-box2{
        padding-left: 3%;
    }

    .korean-second-box1 .korean-second-box3 img{
        width: 40vw;
        height: 50vh;
    }
}

@media screen and (max-width:600px) {
    .korean-borderhr{
        margin-top: 10px;
    }
    
    .korean-second-box1 .korean-second-box3 img {
        width: 40vw;
        height: 40vh;
    }
}



@media screen and (max-width:575px) {
    .korean-second-box1{
        flex-wrap: wrap;
        text-align: center;
    }


    .korean-borderhr .korean-text1{
        max-width: 95%;
        margin:auto;
    }

    .korean-second-box1 .korean-second-box2 img{
        width: 60vw;
        height: auto;
    }

    .korean-second-box1 .korean-second-box2{
        padding-left: 0px;
    }

    .korean-second-box1 .korean-second-box3 img{
        margin: 10px 0px;
        width: 80vw;
        height: auto;
    }
    
}

/*Third*/
.korean-thrid-box1{
    margin: auto;
    max-width: 80%;
}
.korean-thrid-box1 .korean-third-box2 img{
    width: 30vw;
    height: 55vh;
    object-fit: cover;
}

.korean-sub-header div{
    width: fit-content;
    background-color: #FBCC95;
    font-weight: bold;
}

.korean-thrid-box4 div img {
    text-align: center;
    width: 35vw;
    height: 45vh;
    object-fit: cover;
}

.korean-thrid-box1 .korean-box-text{
    margin: auto;
    max-width: 80%;
}

@media screen and (max-width: 1050px){
    .korean-thrid-box1{
        max-width: 90%;
    }
}

/*@media screen and (max-width: 915px) {
    .fs-4{
        font-size: calc(1.2rem + .2vw)!important;
    }
}*/

@media screen and (max-width: 800px) {
    .korean-thrid-box4 div img {
        width: 35vw;
        height: 40vh;
    }
    
    .korean-thrid-box1 .korean-box-text{
        margin: auto;
        max-width: 100%;
    }

}

@media screen and (max-width: 700px){
    .korean-thrid-box1{
        max-width: 100%;
    }

    .korean-thrid-box1 .korean-third-box2 img{
        width: 40vw;
        height: 55vh;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px){

    .korean-third-box3{
        margin-left: 10px;
    }

    .korean-thrid-box1 .korean-third-box2 img{
        width: 40vw;
        height: 30vh;
    }

    /*.fs-4{
        font-size: calc(1rem + .1vw)!important;
    }

    .fs-5{
        font-size: 0.925rem !important;
    }*/
}

@media screen and (max-width: 575px){

    .korean-thrid-box1 .korean-third-box2 img{
        width: 80vw;
    height: auto;
    }

    /*.fs-4{
        font-size: calc(1rem + .1vw)!important;
    }

    .fs-5{
        font-size: 1.025rem !important;
    }*/

    .korean-thrid-box4 div img {
        width: 80vw;
        height: auto;
    }
    
}

/* fourth content*/
.korean-second-box1 .korean-fourth-box2{
    text-align: end;
}

.korean-second-box1 .korean-fourth-box3 div{
    max-width: 80%;
}

.korean-second-box1 .korean-fourth-box2 img{
    width: 25vw;
    height: 15vw;
    object-fit: cover;
}

.korean-fourth-bg-food {
    max-width: 80%;
    margin: auto;
    background-image: url('../images/korean/food2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.korean-fourth-box1-text{
    padding: 30px;
    width: 40%;
}

.korean-fourth-box1-text p{
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    background-position:left;
}

.korean-fourth-box4{
    width: 30vw;
    height: auto;
}

.korean-fourth-box4 img{
    width: 30vw;
    height: 20vw;
    object-fit: cover;
}

.korean-picture-bg-grey{
    background-color: #D9D9D9;
}

.korean-fourth-box6{
    width: 35vw;
    height: auto;
}

.korean-fourth-box6 img{
    width: 35vw;
    height: 20vw;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .korean-fourth-bg-food {
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 1090px) {
    .korean-fourth-bg-food {
        max-width: 100%;
        margin: auto;
    }

    .korean-fourth-box1-text{
        padding: 30px;
        width: 50%;
    }
}

@media screen and (max-width: 870px) {
    .korean-second-box1 .korean-fourth-box2 img{
        width: 35vw;
        height: auto;
    }

    .korean-fourth-box1-text{
        padding: 20px;
    }
}

@media screen and (max-width: 750px) {
    .korean-second-box1 .korean-fourth-box3 div{
        max-width: 100%;
    }

    .korean-fourth-box6{
        width: 35vw;
    }
    
    .korean-fourth-box6 img{
        width: 35vw;
    }
    
    .korean-fourth-box4{
        width: 35vw;
    }
    
    .korean-fourth-box4 img{
        width: 35vw;
    }
}

@media screen and (max-width: 700px) {
    .korean-second-box1 .korean-fourth-box2 img{
        width: 40vw;
        height: 25vw;
    }

    .korean-fourth-box1-text{
        padding: 0px;
    }
}

@media screen and (max-width:600px) {
    .korean-second-box1 .korean-fourth-box2 img{
        width: 40vw;
        height: 25vw;
    }
}

@media screen and (max-width:575px) {
    .korean-second-box1 .korean-fourth-box2{
        text-align: center;
    }
    .korean-second-box1 .korean-fourth-box2 img{
        width: 60vw;
        height: auto;
    } 

    .korean-fourth-box1-text{
        width: 100%;
    }

    .korean-fourth-box4{
        width: 70vw;
        height: auto;
    }
    
    .korean-fourth-box4 img{
        width: 70vw;
        height: 30vh;
    }
    
    .korean-fourth-box6{
        width: 70vw;
        height: auto;
    }
    
    .korean-fourth-box6 img{
        width: 70vw;
        height: 30vh;
    }

}



