body {
    max-width: 1900px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.container {
    width: auto;
}

.topbackgrd {
    background-color: #DAB88B;
    top: 0%;
    position: sticky;
}

.topnvg {
    position: sticky;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    max-width: 1000vw;
    font-size: calc(1.1rem + .2vw)!important;
    padding: 0% 5%;
}

.topnvg a {
    text-decoration: none;
}

.logo {
    position: sticky;
    font-weight: 800;
    font-size: 30px;
    color: white;
}

.leftbar {
    display: flex;
}

.topnvg .nvg a {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.topnvg .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}


.contact a {
    background: rgba(255, 200, 171, 0.31);
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    padding: 0.5vh 2vw;
    color: white;
    text-decoration: none;
}

.contact a:hover {
    background: rgba(255, 255, 255, 0.295743);
    color: black;
}

.menubar {
    display: none;
}

@media screen and (max-width: 850px) {

    .topnvg {
        font-size: calc(0.85rem + .2vw)!important;
    }
}

@media screen and (max-width: 700px) {
    .topnvg .nvg {
        display: none;
    }

    .topnvg .contact {
        display: none;
    }

    .menubar {
        display: block;
        border: 2px solid white;
        padding: 5px;
        border-radius: 10%;
    }

    .menubar i {
        font-size: 20px;
    }


    .topnvg {
        max-width: 100%;
        margin: auto;
    }

}


.dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(218, 184, 139, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown_lists {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #5C2000;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.dropdown .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .dropdown a {
        font-size: 20px
    }

    .dropdown .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.favourite {
    background-color: #DAB88B;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.favourite h1 {
    margin-top: 0px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 5px;
}

.favourite p {
    margin: 0px 20vw;
    font-size: 20px;
}

@media screen and (max-width:700px) {

    .favourite {
        padding-bottom: 25px;
    }

    .favourite h1 {
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .favourite p {
        margin: 0px 25px;
        font-size: 15px;
    }
}


.secondbg {
    background-color: #FDF6EC;
    padding: 20px;
}

.hd h1 {
    color: rgba(0, 0, 0, 0.62);
    margin: 0%;
    padding: 20px 50px;
}

.firtext {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    
}

.firtext p {
    color: #5C2000;
    max-width: 85%;
    width: auto;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box1 .img {
    width: auto;
}

.box1 .img img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
}

.box1 .text {
    font-size: 2rem;
    max-width: 100%;
}

.box1 .text p {
    text-align: left;
    color: #5C2000;
}

ul{
    color: #5C2000;
}

@media screen and (max-width:900px) {
    .hd h1 {
        padding: 3vw 7vh;
    }
    .box1 .img img {
        width: 40vw;
        height: 200px;
        object-fit: cover;
        border-radius: 40px;
    }
    .firtext {
        font-size: 2.7vw;
    }

    .box1 .text {
        font-size: 2.7vw;
        max-width: 40%;
    }
}

@media screen and (max-width:500px) {

    .hd h1 {
        text-align: center;
    }

    .firtext {
        font-size: 5vw;
        text-align: justify;
    }

    .firtext p{
        max-width: 90%;
    }

    .box1 {
        flex-direction: column-reverse;
        align-items: normal;
    }

    .box1 .img {
        display: flex;
        justify-content: center;
    }


    .box1 .img img {
        text-align: center;
        width: 70vw;
        height: auto;
        object-fit: cover;
        border-radius: 30px;
    }

    .box1 .text {
        text-align: justify;
        font-size: 5vw;
        max-width: 100%;
    }

    .box1 .text p {
        margin: 20px 10px;
    }

}

.thirdbg {
    background-color: rgba(234, 182, 112, 0.53);
    padding: 20px;
}

.thirdcontent .firtext{
    text-align: center;
}

.thirdcontent .box1 .img {
    width: auto;
}

.thirdcontent .box1 .img img {
    width: 750px;
    height: 340px;
}

@media screen and (max-width:900px) {
    .thirdcontent .box1 .img img {
        width: 65vw;
        height: 40vh;
    }
}

@media screen and (max-width:600px) {
    .thirdcontent .box1 .img img {
        width: 55vw;
        height: auto;
    }
}

@media screen and (max-width:500px) {
    .thirdcontent .box1 .img img {
        width: 80vw;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
}

.fourthbg{
    background-color: #FDF6EC;
    padding: 20px;
}



.fourthcontent .box1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
}

.fourthcontent .box1 .img {
    width: auto;
}

.fourthcontent .box1 .img img {
    width: 25vw;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
}

@media screen and (max-width:900px) {
    .fourthcontent .box1 .img img {
        width: 25vw;
    }
}

@media screen and (max-width:600px) {
    .fourthcontent .box1 .img img {
        width: 30vw;
    }
}

@media screen and (max-width:500px) {
    .fourthcontent .box1 .img img {
        width: 200px;
    }
}



.footerbg {
    background-color: #B7CADB;
}

.footnvg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}


.left .nvg {
    padding: 0px 15px;
}

.left .nvg a {
    margin-left: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.left .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.footnvg a{
    text-decoration: none;
}

.ftlogo {
    color: white;
    font-weight: 800;
    margin-left: 2vw;
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .footnvg {
        font-size: 1.0rem;
    }

    .ftlogo {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 610px) {

    .footerbg {
        padding: 10px 20px;
    }

    .footnvg {
        display: block;
        padding: 0px;
    }

    .left .nvg {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .left .nvg a {
        font-size: 20px;
        line-height: 30px;
        margin: 0px;
    }
    
    .ftlogo {
        margin: 2vw 0vw;
        font-size: 30px;
    }
}



.footmedia {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.media {
    display: flex;
    align-items: center;
    width: 50%;
}

.media .ftmedia {
    margin-left: 2vw;
    font-size: 1rem;
}

.media .ftmedia i {
    color: white;
    font-size: 2rem;

}

.copyrgt {
    width: 50%;
    margin-right: 25px;
    text-align: right;
    margin-bottom: -5px;
    color: white;
}

.copyrgt p {
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    .media .ftmedia i {
        font-size: 30px;
    }

    .copyrgt p {
        font-size: 1.0rem;
    }
}

@media screen and (max-width:610px) {

    .footmedia {
        display: block;
    }

    .media {
        padding-top: 20px;
        width: 40%;
        justify-content: space-between;
    }

    .media .ftmedia {
        margin-left: 0vw;
        font-size: 30px;
    }

    .media .ftmedia i {
        font-size: 30px;

    }

    .copyrgt {
        width: 100%;
        margin-right: 25px;
        text-align: left;
        margin-bottom: -5px;
        color: white;
    }
}

@media screen and (max-width:500px) {
    .media {
        width: 60%;
    }

    .media .ftmedia i {
        font-size: 35px;
    }

}

