body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.container {
    width: auto;
}

.topbackgrd {
    background-color: #DAB88B;
    top: 0%;
    position: sticky;
    z-index: 1;
}

.topnvg {
    position: sticky;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    max-width: 1000vw;
    font-size: 1.5vw;
}

.topnvg a {
    text-decoration: none;
}

.logo {
    position: sticky;
    margin: 2vw 0px 2vw 6vw;
    font-weight: 800;
    font-size: 30px;
    color: white;
}

.leftbar {
    display: flex;
    margin-right: 7vw;
}

.topnvg .nvg {
    padding: 0px 15px;
    margin-right: 6vw;
}

.topnvg .nvg a {
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.topnvg .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.contact {
    margin-right: 3vw;

}

.contact a {
    background: rgba(255, 200, 171, 0.31);
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    padding: 0.5vh 2vw;
    color: white;
    text-decoration: none;
}

.contact a:hover {
    background: rgba(255, 255, 255, 0.295743);
    color: black;
}

.menubar {
    display: none;
}

@media screen and (max-width: 850px) {
    .topnvg .nvg {
        margin-right: 0vw;
    }
}

@media screen and (max-width: 700px) {
    .topnvg .nvg {
        display: none;
    }

    .topnvg .contact {
        display: none;
    }

    .menubar {
        display: block;
        border: 2px solid white;
        padding: 5px;
        border-radius: 10%;
    }

    .menubar i {
        font-size: 20px;
    }


    .topnvg {
        max-width: 100%;
        margin: auto;
    }

}


.dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(218, 184, 139, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown_lists {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #5C2000;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.dropdown .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .dropdown a {
        font-size: 20px
    }

    .dropdown .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.portfolio {
    background-color: #DAB88B;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.portfolio h1 {
    margin-top: 0px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 5px;
}

.portfolio p {
    margin: 0px 20vw;
    font-size: 20px;
}

@media screen and (max-width:700px) {

    .portfolio {
        padding-bottom: 25px;
    }

    .portfolio h1 {
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .portfolio p {
        margin: 0px 25px;
        font-size: 15px;
    }
}

.secondbg {
    background-color: #FDF6EC;
    padding: 20px;
}

.hd h1 {
    color: rgba(0, 0, 0, 0.62);
    margin: 0%;
    padding: 20px 50px;
    text-align: center;
}

@media screen and (max-width:900px) {
    .hd h1 {
        padding: 3vw 7vh;
    }
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.gallery {
    width: auto;
    position: relative;
    margin: 10px;
}

.gallery img {
    width: 380px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (max-width: 500px) {
    .gallery img {
        width: 280px;
        height: 350px;
        object-fit: cover;
        border-radius: 20px;
    }
}

@media screen and (max-width: 400px) {
    .gallery img {
        width: 250px;
        height: 300px;
        object-fit: cover;
        border-radius: 20px;
    }
}

.gallery .box {
    position: absolute;
    color: white;
    width: 70%;
    bottom: 5%;
    left: 5%;
}

.gallery .box .box-btn {
    background-color: white;
    color: #5C2000;
    display: flex;
    margin: 5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}

.gallery .box .box-btn p {
    margin: 0%;
}

.gallery .box .box-text {
    font-size: 30px;
    font-weight: 900;
    margin-left: 20px;
}

.gallery .box .box-text p {
    margin: 0%;
}

@media screen and (max-width: 500px) {


    .gallery .box .box-btn {
        margin: 5px 10px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 120px;
        height: 40px;
        font-size: 18px;
        font-weight: 700;
    }

    .gallery .box .box-btn p {
        margin: 0%;
    }

    .gallery .box .box-text {
        font-size: 25px;
        font-weight: 900;
        margin-left: 10px;
    }

    .gallery .box .box-text p {
        margin: 0%;
    }

}


.gallery:hover .aft_text {
    transform: scale(1);
}

.aft_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(218, 184, 139, 0.95);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.aft_text hd {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.aft_text a:hover {
    color: #f1f1f1;
}

.aft_text a {
    display: block;
    font-size: 24px;
    color: #5C2000;
    text-decoration: none;
    line-height: 40px;
}

.aft_text .box_aft_text {
    text-align: center;
}

@media screen and (max-width: 500px) {

    .aft_text hd {
        font-size: 15px;
    }


    .aft_text a {
        font-size: 20px;
        line-height: 25px;
    }
}



.footerbg {
    background-color: #B7CADB;
}

.footnvg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}


.left .nvg {
    padding: 0px 15px;
}

.left .nvg a {
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.left .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.footnvg .ftlogo {
    color: white;
    font-weight: 800;
    margin-left: 2vw;
    font-size: 2vw;
}

@media screen and (max-width: 500px) {

    .footerbg {
        padding: 10px 20px;
    }


    .footnvg {
        display: block;
        padding: 0px;
    }


    .left .nvg {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .left .nvg a {
        font-size: 20px;
        line-height: 30px;
        margin: 0px;
    }



    .footnvg .ftlogo {
        margin: 2vw 0vw;
        font-size: 30px;
    }
}

.footmedia {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.media {
    display: flex;
    align-items: center;
    width: 50%;
}

.media .ftmedia {
    margin-left: 2vw;
    font-size: 30px;
}

.media .ftmedia i {
    color: white;
    font-size: 3vw;

}

.copyrgt {
    width: 50%;
    margin-right: 25px;
    text-align: right;
    margin-bottom: -5px;
    color: white;
}

.copyrgt p {
    font-size: 1.5vw;
}

@media screen and (max-width:500px) {

    .footmedia {
        display: block;
    }

    .media {
        padding-top: 20px;
        width: 60%;
        justify-content: space-between;
    }

    .media .ftmedia {
        margin-left: 0vw;
        font-size: 30px;
    }

    .media .ftmedia i {
        font-size: 10vw;

    }

    .copyrgt {
        width: 100%;
        margin-right: 25px;
        text-align: left;
        margin-bottom: -5px;
        color: white;
    }

    .copyrgt p {
        font-size: 6vw;
    }

}