.container{
    width: auto;
}

.topbackgrd{
    background-color: #DAB88B;
    padding-bottom: 30px;
}

.topnvg{
    display: flex;
    color: white;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
}
.logo{
    margin-left: 6vw;
    font-size: 150%;
}
.leftbar{
    display: flex;
    margin-right: 7vw;
}

.topnvg .nvg{
    padding: 0px 15px;
    margin-right: 6vw;
}

.topnvg .nvg a{
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.topnvg .nvg a:hover{
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.contact{
    margin-right: 3vw;
    
}

.contact a{
    background: rgba(255, 200, 171, 0.31);
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    padding: 0.5vh 2vw;
    color: white;
    text-decoration: none;
}

.contact a:hover{
    background: rgba(255, 255, 255, 0.295743);
    color: black;
}

.toptext{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
}

.toptext .text{
    margin-left: 10vw;
    font-size: 2.5vw;
    width: 50%;
}

.about a{
    background: #FFF0E8;
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    color: rgba(85, 30, 0, 0.79);
    font-size: 2vw;
    padding: 0.5vh 2vw;
}

.about a:hover{
    background: #FFF;
}

.toptext .personlogo{
    width: 50%;
}

.toptext .personlogo img{
    border-radius: 20%;
    width: 34vw;
}

/* Second Content */

.secondbg{
    background: #F3E9DD;
}

.secondhd{
    color: rgba(167, 115, 45, 0.77);
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
}

.secondbg h1 {
    margin: 0px;
    text-align: center;
    padding-top: 30px;
}

.secondtext{
    display: flex;
    align-items: center;
}

.secondpic{
    width: 50%;
    padding: 40px;
}

.secondpic img{
    width: 50vw;
    border-radius: 63px;
}

.secondtext .content{
    font-style: normal;
    font-weight: 800;
    font-size: 2.3vw;
    line-height: 48px;
    color: #5C2000;
    padding-right: 20px;
}

.button a{
    background: #FFF0E8;
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 2vw;
    padding: 0.5vh 3vw;
    text-align: center;
    text-decoration: none;
    color: rgba(85, 30, 0, 0.79);
}

.thirdbg{
    background: rgba(218, 184, 139, 0.6);
}

.thirdhd{
    color: rgba(167, 115, 45, 0.77);
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
}

.thirdhd h1 {
    margin: 0px;
    padding-top: 30px;
    padding-left: 5vw;
}

.thirdbg .pic{
    display: flex;
    justify-content: space-evenly;
}
.thirdbg .pic .box{
    margin: 30px 0px ;
}
.thirdbg .pic .box img{
    width: 25vw; 
    height: 50vh; 
    object-fit: cover; 
}
.thirdbg .pic .box p{
    text-align: center;
    color: #5C2000;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    margin: 0px;
}