body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.container {
    width: auto;
}

.topbackgrd {
    background-color: #DAB88B;
    top: 0%;
    position: sticky;
}

.topnvg {
    position: sticky;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    max-width: 1000vw;
    font-size: calc(1.1rem + .2vw)!important;
    padding: 0% 5%;
}

.topnvg a {
    text-decoration: none;
}

.logo {
    position: sticky;
    font-weight: 800;
    font-size: 30px;
    color: white;
}

.leftbar {
    display: flex;
}

.topnvg .nvg a {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.topnvg .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}


.contact a {
    background: rgba(255, 200, 171, 0.31);
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    padding: 0.5vh 2vw;
    color: white;
    text-decoration: none;
}

.contact a:hover {
    background: rgba(255, 255, 255, 0.295743);
    color: black;
}

.menubar {
    display: none;
}

@media screen and (max-width: 850px) {

    .topnvg {
        font-size: calc(0.85rem + .2vw)!important;
    }
}

@media screen and (max-width: 700px) {
    .topnvg .nvg {
        display: none;
    }

    .topnvg .contact {
        display: none;
    }

    .menubar {
        display: block;
        border: 2px solid white;
        padding: 5px;
        border-radius: 10%;
    }

    .menubar i {
        font-size: 20px;
    }


    .topnvg {
        max-width: 100%;
        margin: auto;
    }

}


.dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(218, 184, 139, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown_lists {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #5C2000;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.dropdown .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .dropdown a {
        font-size: 20px
    }

    .dropdown .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



.toptext {
    background-image: url('../images/kopi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #DAB88B;
}

.toptext .text {
    margin-left: 10vw;
    font-size: 2.5vw;
    font-weight: 800;
    width: 50%;
}


.toptext .personlogo {
    width: 50%;
}

.toptext .personlogo img {
    border-radius: 50%;
    width: 25vw;
    padding: 10vw;
}

@media screen and (max-width: 450px) {
    .toptext .text h1 {
        margin: 40px 0px;
    }
}

@media screen and (max-width: 500px) {
    .toptext {
        background-image: url('../images/kopi1.png');
        align-items: flex-start;
        background-size: contain;
        flex-direction: column-reverse;
        background-position:top;
    }

    .toptext .personlogo {
        width: 100%;
    }

    .toptext .personlogo img {
        width: 50vw;
        margin: 5vw 0vw 0vw 10vw;
        padding: 0vw;
    }

    .toptext .text {
        width: 80%;
        margin-bottom: 20px;
    }

    .toptext .text h1 {
        font-size: 10vw;
        margin: 50px 0px;
    }

    .toptext .text p {
        font-size: 5vw;
        line-height: 48px;
    }

}



/* Second Content */

.secondbg {
    background: #F3E9DD;
}

.secondhd {
    color: rgba(167, 115, 45, 0.77);
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
}

.secondbg h1 {
    margin: 0px;
    text-align: center;
    padding-top: 30px;
}

.secondtext {
    display: flex;
    align-items: center;
}

.secondpic {
    width: 50%;
    padding: 40px;
    text-align: center;
}

.secondpic img {
    width: 35vw;
    object-fit: cover;
    border-radius: 23px;
}

.secondtext .content {
    font-style: normal;
    font-weight: 800;
    font-size: 1.8vw;
    line-height: 40px;
    color: #5C2000;
    padding-right: 50px;
    width: 50%;
}

.button a {
    background: #FFF0E8;
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5vw;
    padding: 0.5vh 1vw;
    text-align: center;
    text-decoration: none;
    color: rgba(85, 30, 0, 0.79);
}

@media screen and (max-width: 800px) {
    .secondtext .content {
        line-height: 20px;
    }

    .secondpic img {
        border-radius: 5%;
    }

}

@media screen and (max-width: 500px) {
    .secondhd {
        font-size: 4vw;
    }

    .secondtext {
        display: block;
        text-align: center;
    }

    .secondpic {
        width: 100%;
        padding: 20px 0px;
    }

    .secondpic img {
        max-width: 80%;
        width: auto;
    }

    .secondtext .content {
        text-align: center;
        font-size: 20px;
        line-height: 35px;
        padding-right: 0px;
        width: 100%;
    }

    .secondtext .content p {
        margin: 0px 20px;
        text-align: left;
    }

    .button {
        padding: 30px 0px;
    }

    .button a {
        font-size: 15px;
    }
}

.thirdbg {
    background: rgba(218, 184, 139, 0.6);
}

.thirdhd {
    color: rgba(167, 115, 45, 0.77);
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
}

.thirdhd h1 {
    margin: 0px;
    padding-top: 30px;
    padding-left: 5vw;
}

.thirdbg .pic {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.thirdbg .pic .box {
    margin: 30px 0px;
}

.thirdbg .pic .box img {
    width: 25vw;
    height: 60vh;
    object-fit: cover;
}

.thirdbg .pic .box p {
    text-align: center;
    color: #5C2000;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    margin: 0px;
}

.thirdbg .pic .box a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .thirdhd {
        font-size: 2vw;
    }

    .thirdbg .pic .box img {
        width: 25vw;
        height: 40vh;
        object-fit: cover;
    }

}

@media screen and (max-width: 800px) {
    .thirdhd {
        font-size: 2.5vw;
    }

    .thirdbg .pic .box img {
        width: 25vw;
        height: 35vh;
        object-fit: cover;
    }

}

@media screen and (max-width: 500px) {
    .thirdhd {
        font-size: 4vw;
        text-align: center;
    }

    .thirdhd h1 {
        padding-left: 0vw;
    }

    .thirdbg .pic {
        display: block;
        text-align: center;
        padding-bottom: 1px;
    }

    .thirdbg .pic .box img {
        width: 55vw;
        height: 45vh;
    }

    .thirdbg .pic .box p {
        font-size: 5.5vw;

    }

}

.fourthbg {
    background-color: #F3E9DD;
    display: flex;
    align-items: center;
}

.fourthbg img {
    width: 65vw;
}

.fourthtext {
    color: rgba(167, 115, 45, 0.77);
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    margin: 0px;
    padding: 0vw 3vw;
}


.fourthtext h1 {
    padding-bottom: 20px;
    font-size: 3.5vw;
}

.fourthtext p {
    color: #5C2000;
    font-size: 2vw;
    line-height: 30px;
}

#work a {
    padding: 0.5vh 1.5vw;
    font-size: 15px;
}


@media screen and (max-width: 700px) {

    .fourthbg img {
        padding-top: 10px;
        width: 55vw;
    }

    .fourthtext h1 {
        padding-bottom: 0px;
        margin: 10px 0px;
        font-size: 30px;
    }

    .fourthtext p {
        font-size: 2.5vw;
    }

    #work a {
        font-size: 10px;
    }

}

@media screen and (max-width: 500px) {

    .fourthbg {
        display: block;
        text-align: center;
    }

    .fourthbg img {
        max-width: 90%;
        width: auto;
    }


    .fourthtext h1 {
        padding-bottom: 10px;
    }

    .fourthtext p {
        font-size: 4vw;
        line-height: 10px;
    }

    #work a {
        font-size: 15px;
    }

}

.fifthbg {
    background-color: #E9D4B9;
}

.fifthhd {
    color: rgba(167, 115, 45, 0.77);
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
}

.fifthhd h1 {
    margin: 0px;
    text-align: center;
    padding-top: 30px;
}

.fifthtext {
    display: flex;
    align-items: center;
}

.fifthtext .text {
    width: 40%;
    font-weight: 800;
    padding: 0px 3vw 0vw 10vw;
}

.fifthtext .text p {
    color: #5C2000;
    font-size: 2vw;
    line-height: 35px;
}

.fifthtext .pic {
    width: 50%;
}

.fifthtext .pic img {
    width: 40vw;
    padding: 40px 10px;
    border-radius: 63px;
}

#portfolio a {
    padding: 0.5vh 1.5vw;
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .fifthhd {
        font-size: 15px;
    }

    .fifthtext .text p {
        font-size: 3vw;
        line-height: 25px;
    }

}

@media screen and (max-width: 500px) {

    .fifthhd {
        font-size: 15px;
    }


    .fifthtext {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .fifthtext .text {
        width: 100%;
        padding: 0px;
    }

    .fifthtext .text p {
        padding: 0px 30px;
        font-size: 4vw;
        line-height: 20px;
        text-align: left;
    }

    .fifthtext .pic {
        width: 100%;
    }

    .fifthtext .pic img {
        width: auto;
        max-width: 80%;
        padding: 10px 10px;
        border-radius: 10%;
    }

}


.sixthbg {
    background-color: #F3E9DD;
}

.sixthtext {
    align-items: center;
    display: flex;
    justify-content: center;
}

.form {
    width: 40vw;
    max-width: 350px;
    background: #B7CADB;
    border-radius: 6px;
    margin: 5vw;
    padding: 2vw 2vw 11% 2vw;
}

.form h2 {
    color: #506D84;
    font-weight: 800;
}

.form form {
    line-height: 30px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #375B44;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=submit] {
    color: white;
    background-color: #506D84;
    border-radius: 6px;
    padding: 2vh 3vw;
    float: right;
    border: 0px;
}

.sixthtext .text {
    font-style: normal;
    font-weight: 800;
    font-size: 1.5vw;
}

.sixthtext .text h1 {
    color: rgba(167, 115, 45, 0.77);
}

.sixthtext .text p {
    color: #5C2000;
}

.sixthtext .text .round {
    display: flex;
    align-items: center;
}

.sixthtext .text .round i {
    background-color: rgba(167, 115, 45, 0.77);
    border-radius: 50%;
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sixthtext .text .round a {
    text-decoration: none;
    color: #5C2000;
}

@media screen and (max-width: 1100px) {
    .sixthtext .text .round i {
        width: 4vw;
        height: 4vw;
    }
    .sixthtext .text p {
        width: auto;
        max-width: 80%;
    }

    .form {
        padding: 5vw 5vw 13% 5vw;
    }
}

@media screen and (max-width: 800px) {
    .form {
        padding: 5vw 5vw 15% 5vw;
    }

    .sixthtext .text {
        font-size: 2vw;
    }

    .sixthtext .text h1 {
        font-size: 30px;
    }

    .fa-compass:before {
        padding: 10px;
    }

    .sixthtext .text p {
        width: auto;
        max-width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .sixthtext {
        display: block;
    }

    .sixthtext .box1 {
        text-align: center;
        padding-top: 20px;
    }

    .form {
        width: auto;
        max-width: none;
        margin: 0px 20px;
        padding: 5vw 5vw 20% 5vw;
    }

    .form h2 {
        font-size: 4vw;
    }


    .sixthtext .text {
        font-size: 3.5vw;
        text-align: center;
    }

    .sixthtext .text h1 {
        font-size: 35px;
    }

    .sixthtext .text .box2 {
        margin: 0px 20px;
        width: auto;
        text-align: left;
    }

    .sixthtext .text .round p {
        width: 90%;
    }

    .sixthtext .text .round {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    .sixthtext .text .round i {
        background-color: rgba(167, 115, 45, 0.77);
        border-radius: 50%;
        color: #ffffff;
        width: 50px;
        height: 50px;
        margin-right: 5%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .sixthtext .text .round a {
        text-decoration: none;
        color: #5C2000;
    }
}



.footerbg {
    background-color: #B7CADB;
}

.footnvg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8vw;
}


.left .nvg {
    padding: 0px 15px;
}

.left .nvg a {
    margin-left: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.left .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.footnvg a{
    text-decoration: none;
}

.ftlogo {
    color: white;
    font-weight: 800;
    margin-left: 2vw;
    font-size: 2vw;
}

@media screen and (max-width: 900px) {
    .footnvg {
        font-size: 1.0rem;
    }

    .ftlogo {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 610px) {

    .footerbg {
        padding: 10px 20px;
    }

    .footnvg {
        display: block;
        padding: 0px;
    }

    .left .nvg {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .left .nvg a {
        font-size: 20px;
        line-height: 30px;
        margin: 0px;
    }
    
    .ftlogo {
        margin: 2vw 0vw;
        font-size: 30px;
    }
}



.footmedia {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.media {
    display: flex;
    align-items: center;
    width: 50%;
}

.media .ftmedia {
    margin-left: 2vw;
    font-size: 30px;
}

.media .ftmedia i {
    color: white;
    font-size: 3vw;

}

.copyrgt {
    width: 50%;
    margin-right: 25px;
    text-align: right;
    margin-bottom: -5px;
    color: white;
}

.copyrgt p {
    font-size: 1.8vw;
}

@media screen and (max-width: 900px) {
    .media .ftmedia i {
        font-size: 30px;
    }

    .copyrgt p {
        font-size: 1.0rem;
    }
}

@media screen and (max-width:610px) {

    .footmedia {
        display: block;
    }

    .media {
        padding-top: 20px;
        width: 40%;
        justify-content: space-between;
    }

    .media .ftmedia {
        margin-left: 0vw;
        font-size: 30px;
    }

    .media .ftmedia i {
        font-size: 30px;

    }

    .copyrgt {
        width: 100%;
        margin-right: 25px;
        text-align: left;
        margin-bottom: -5px;
        color: white;
    }
}

@media screen and (max-width:500px) {
    .media {
        width: 60%;
    }

    .media .ftmedia i {
        font-size: 35px;
    }

}