body {
    margin: auto;
}

.container {
    width: auto;
}

.topbackgrd {
    background-color: #DAB88B;
    top: 0%;
    position: sticky;
}

.topnvg {
    position: sticky;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    max-width: 1000vw;
    font-size: 1.5vw;
}

.logo {
    position: sticky;
    margin-left: 6vw;
    font-weight: 800;
    font-size: 30px;
}

.leftbar {
    display: flex;
    margin-right: 7vw;
}

.topnvg .nvg {
    padding: 0px 15px;
    margin-right: 6vw;
}

.topnvg .nvg a {
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.topnvg .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.contact {
    margin-right: 3vw;

}

.contact a {
    background: rgba(255, 200, 171, 0.31);
    border: 6px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    padding: 0.5vh 2vw;
    color: white;
    text-decoration: none;
}

.contact a:hover {
    background: rgba(255, 255, 255, 0.295743);
    color: black;
}

.menubar {
    display: none;
}

@media screen and (max-width: 850px) {
    .topnvg .nvg {
        margin-right: 0vw;
    }
}

@media screen and (max-width: 700px) {
    .topnvg .nvg {
        display: none;
    }

    .topnvg .contact {
        display: none;
    }

    .menubar {
        display: block;
        border: 2px solid white;
        padding: 5px;
        border-radius: 10%;
    }

    .menubar i {
        font-size: 20px;
    }


    .topnvg {
        max-width: 100%;
        margin: auto;
    }

}


.dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(218, 184, 139, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown_lists {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #5C2000;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.dropdown .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .dropdown a {
        font-size: 20px
    }

    .dropdown .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.work {
    background-color: #DAB88B;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.work h1 {
    margin-top: 0px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 5px;
}

.work p {
    margin: 0px 20vw;
    font-size: 20px;
}

@media screen and (max-width:700px) {

    .work {
        padding-bottom: 25px;
    }

    .work h1 {
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .work p {
        margin: 0px 25px;
        font-size: 15px;
    }
}

.secondbg {
    background-image: url('../images/waterclour2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.hd h1 {
    color: rgba(0, 0, 0, 0.62);
    margin: 0%;
    padding: 20px 10px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box1 .img {
    width: auto;
}

.box1 .img img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 40px;
}

.box1 .firtext {
    font-size: 1.8vw;
    max-width: 40%;
}

.box1 .firtext p {
    color: #5C2000;
}

@media screen and (max-width:900px) {
    .box1 .img img {
        width: 30vw;
        height: 50vh;
        object-fit: cover;
        border-radius: 40px;
    }

    .box1 .firtext {
        font-size: 3.5vw;
        max-width: 40%;
    }
}

@media screen and (max-width:500px) {

    .hd h1 {
        text-align: center;
    }

    .box1 {
        display: block;
        align-items: center;
        justify-content: space-evenly;
    }

    .box1 .img {
        display: flex;
        justify-content: center;
    }


    .box1 .img img {
        text-align: center;
        width: 70vw;
        height: 50vh;
        object-fit: cover;
        border-radius: 30px;
    }

    .box1 .firtext {
        text-align: justify;
        font-size: 20px;
        max-width: 100%;
    }

    .box1 .firtext p {
        margin: 20px 30px;
    }

}

hr.line2 {
    margin-top: 35px;
    display: block;
}


.box2 {
    text-align: center;
}

.box2 .text {
    font-size: 1.8vw;
}

.box2 .text p {
    color: #5C2000;
}

.box2 .img {
    width: auto;
}

.box2 .img img {
    width: 65vw;
    border-radius: 20px;
}

@media screen and (max-width:900px) {
    .box2 .text {
        font-size: 3.5vw;
    }
}

@media screen and (max-width:500px) {

    .box2 .text {
        font-size: 20px;
    }

    .box2 .text p {
        color: #5C2000;
    }

    .box2 .img img {
        width: 300px;
        border-radius: 20px;
    }
}

.footerbg {
    background-color: #B7CADB;
}

.footnvg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}


.left .nvg {
    padding: 0px 15px;
}

.left .nvg a {
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.left .nvg a:hover {
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.footnvg .ftlogo {
    color: white;
    font-weight: 800;
    margin-left: 2vw;
    font-size: 2vw;
}

@media screen and (max-width: 500px) {

    .footerbg {
        padding: 10px 20px;
    }
    
    
    .footnvg {
        display: block;
        padding: 0px;
    }
    
    
    .left .nvg {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .left .nvg a {
        font-size: 20px;
        line-height: 30px;
        margin: 0px;
    }
    

    
    .footnvg .ftlogo {
        margin: 2vw 0vw;
        font-size: 30px;
    }
}



.footmedia{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.media{
    display: flex;
    align-items: center;
    width: 50%;
}

.media .ftmedia{
    margin-left: 2vw;
    font-size: 30px;
}

.media .ftmedia i{
    color: white;
    font-size: 3vw;
    
}

.copyrgt{
    width: 50%;
    margin-right: 25px;
    text-align: right;
    margin-bottom: -5px;
    color: white;
}

.copyrgt p{
    font-size: 1.5vw;
}

@media screen and (max-width:500px){
    
.footmedia{
    display: block;
}

.media{
    padding-top: 20px;
    width: 60%;
    justify-content: space-between;
}

.media .ftmedia{
    margin-left: 0vw;
    font-size: 30px;
}

.media .ftmedia i{
    font-size: 10vw;
    
}

.copyrgt{
    width: 100%;
    margin-right: 25px;
    text-align: left;
    margin-bottom: -5px;
    color: white;
}

.copyrgt p{
    font-size: 6vw;
}

}
